@import 'utilities/variables';

@import 'base/reset';

* {
    box-sizing: border-box;
}

body {
    font: 1em 'Merriweather', serif;
    text-align: center;
}

.page-container {
    color: $color-primary;
    padding: 0 16px;
}

.page-header {
    padding: 24px;
    margin: 0;
    font-size: 1.1em;
    font-weight: 700;
    color: $color-white;
    background-color: $color-primary;
}

.overview {
    padding: 28px 0;
    margin-bottom: 2px;
    border-bottom: 4px solid $color-primary;
}

.heading {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 900;
}

.intro {
    padding: 8px 0;
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    color: $color-base;
}

.container-primary {
    padding:0;
    margin: 0;
    border-top: 2px solid;
    border-left: none;
    border-bottom: 2px solid;
    border-right: none;
}

.contact-wrapper,
.news-wrapper {
    display: flex;
    flex-flow: column wrap;
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: left;
}

.box {
    width: 100%;
    height: 50px;
    padding: 16px;
    background-color: $color-solitude;
    border: none;
    border-radius: 4px;

    &::placeholder {
        font-size: .8em;
        font-style: italic;
        font-weight: 300;
        color: $grey-light;
        text-align: right;
    }

    &:last-child {
        width: 50%;
    }
}

.contact-label {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: .85em;
}

.container-secondary {
    padding: 0;
    margin: 0;
    border: none;
}

.news-label {
    font-size: .9em;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 12px;
}

.btn {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: $color-white;
    background-color: $color-accent;
}

.checkboxes,
.radios {
    font-size: .9em;
    line-height: 2.2em;

    > label {
        padding-left: 8px;
    }
}

.textarea {
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: $color-solitude;
}

footer {
    padding: 24px;
    font-size: .8em;
    font-style: italic;
    font-weight: 400;
    color: $grey-light;
}