@mixin fontStyle (
    $size: null,
    $weight: null,
    $style: null) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

// @mixin form-header {

// }

@mixin flexy (
    $display: flex,
    $direction: null,
    $wrap: null,
    $justify:null,
    $align: null) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}