@mixin fontStyle (
    $size: null,
    $weight: null,
    $style: null) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

@mixin flexy (
    $display: flex,
    $direction: null,
    $wrap: null,
    $justify:null,
    $align: null) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

%wrapStyle {
    padding: 0;
    padding-bottom: 28px;
    margin: 0;
    border: none;
}

%headStyle {
    @include fontStyle (1.1em, 900);
    width: 100%;
    padding-top: 28px;
    border-top: 2px solid;
    text-align: left;
    margin: 0;

    @media (min-width: 768px) {
        padding-top: 44px;
    }
}

@mixin main-wrapper-style {
    @extend %wrapStyle;

    &__heading{
        @extend %headStyle;
    }
}

@mixin main-form-style {
    @include flexy (flex, column, wrap);
    text-align: left;
    @content;
}

@mixin field-style {
    background-color: $color-solitude;
    border: none;
    border-radius: $round;
    box-shadow: 0 6px 6px -6px grey;
    @content; 
}

%foc {
    &:focus {
        outline: none;
        border-bottom: 3px $color-accent solid;
    }
}