//======= colors ======//

$color-primary: #2d3945; //dark blue
$color-accent: #52bab3; //aquagreen
$color-white: #fff; 
$color-solitude: #eff0f1; 
$color-grey: #808080;
$grey-light: lighten($color-grey, 25%);

//======= border ======//
$round: 5px;