$color-primary: #2d3945; //dark blue
$color-secondary: #489ef9; //police strobe
$color-accent: #4ebbb5; //cyan

$color-white: #fff; 
$color-grey: #808080;
$color-solitude: #eff0f1; 

$grey-light: lighten($color-grey, 25%);