.contact-form {
    @include main-form-style;

    @media (min-width: 768px) {
        padding: 16px 0;
    }
}

.news-form {
    @include main-form-style;

    &__label {
        padding-top: 20px;
        padding-bottom: 12px;
        line-height: 1.5em;
        font-size: .9em;
    }
}

.contact-info {
    @include flexy (flex, column, wrap);

    @media (min-width: 768px) {
        @include flexy (flex, row, nowrap, $align: center);
        margin: 8px 0;
    }
    
    &__label {
        padding-top: 20px;
        padding-bottom: 8px;
        @include fontStyle (.85em);

        @media (min-width: 768px) {
            flex-basis: 30%;
            padding: 0;
        }
    }
    
    > #zip {
        max-width: 152px;
    }
}

.contact-info__input-field {
    @include field-style;
    @extend %foc;
    @include fontStyle (.9em);
    height: 50px;
    padding: 12px;

    @media (min-width: 768px) {
        flex-basis: 70%;
    }

    &::placeholder {
        @include fontStyle (.8em, 300, italic);
        color: $grey-light;
        text-align: right;
    }
}

.textarea {
    @include field-style;
    @extend %foc;
    height: 100px;
    width: 100%;
}