* {
    box-sizing: border-box;
}

body {
    font: 1em 'Merriweather', serif;
    text-align: center;
}

.page-container {
    padding: 0 16px;
    color: $color-primary;

    @media (min-width: 768px){
        max-width: 60%;
        margin: auto;
    }
}